
body{
    height:100%;
    width:100%;
    overflow:hidden;


}

.page-container{
    position:absolute;
    height:100vh;
    width:100vw;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}

.board-container{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

    position:absolute;
}
.board{

    aspect-ratio: 3/2;
    height:500px;
    border: 5px solid red;
    margin:20px;
}
.board-content-container{
    border: 5px solid red;
    margin:20px;
    padding:20px;
    aspect-ratio: 3/2;
    height:100px;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    display:flex;
    align-items: center;
    flex-direction:column;
}
.community-cards{
    width:50px;
    height:50px;
    margin:10px;
    border: 3px solid red;
}
.pot-container{
    aspect-ratio: 3/2;
    height:500px;
    display:flex;
    justify-content: center;
    /* border: 3px solid red; */
}

.button-container {
    position: absolute;
    bottom: 60px; /* Position buttons above the hand and results */
    left: 50%;
    transform: translateX(-50%);
}
.hand-container {
    border: 5px solid red;
    height: 50px;
    width: 300px; /* Adjust width as needed */
    text-align: right; /* Align text to the right */
    margin-left: auto; /* Push hand to the right */
}
.hotbar {
    border: 5px solid blue;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; /* Center items vertically */

    padding: 10px;
}
.results-container {
    position:absolute;
    /* border: 5px solid red; */
    aspect-ratio: 3/2;
    height: 850px;

    display: flex;
    justify-content: center;
}
.table {
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid green;
    aspect-ratio: 3/2;
    height: 850px;
    margin-bottom: 80px; /* Space for the hand and results */
}
.card{
    box-sizing: border-box;
    /* margin:5px; */
    border: 5px solid green;
    width: 100px;  /* Adjust the width as needed */
    height: 140px; /* Adjust the height as needed */
    background-size: cover; /* Ensures the image covers the div */
}
.card-wrapper{
    margin: 5px;
}
.community-card-images{
    border: 5px solid green;
    height:100px;
    width:500px;
    display:flex;
    flex-direction: row
}
.hand-card-images{
    border: 5px solid green;
    height:100px;
    width:200px;
    display:flex;
    flex-direction: row
}



